@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

button {
  background-color: black;
  border-radius: 45px;
}

div {
  font-family: "Roboto";
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  &__text {
    font-family: "Inter" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.popup {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  animation-name: fade-in-out;
  animation-duration: 2s;
  transform: translateX(100%);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2rem);
  }
}
