@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800");

.App {
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  overflow-y: scroll;
  scrollbar-color: #000000 #000000;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

::selection {
  background-color: #000;
  color: #fff;
}

button {
  background-color: black;

}

.logo {
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.popup {
  position: fixed;
  right: 0;
  margin: 0 2rem 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  animation-name: fade-in-out;
  animation-duration: 2s;
  transform: translateX(100%);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2rem);
  }
}

